/* PAGE D'ACCUEIL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #1a1a1a;
    line-height: 1.6;
}

html { scroll-behavior: smooth; }

li {
    list-style: none;
}

.sr-only {
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border:0;
}

/* NAVIGATION */
header {
    background: white;
    padding: 20px 0 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.logo {
    z-index: 1000;
}

a.logo img {
    width: 100px;
    aspect-ratio: 1 / 1;
    height: auto;
    display: block;         /* supprime le gap baseline */
    object-fit: contain;
}

button.nav-toggle {
    display: none;
    border: 0;
    background: transparent;
    padding: 6px;
    cursor: pointer;
    color: #0D2C5B;
}

.nav-toggle .icon-close { display: none; }

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #0D2C5B;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f39c88;
}

/* Footer */
.footer {
    background: #0D2C5B;
    display: flex;
    gap: 60px;
    padding: 40px;
    align-items: stretch;
}

.footer-links {
    align-self: stretch;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer-links ul a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-contact .footer-img {
    /* align-self: center; */
    width: 80px;
    aspect-ratio: 1 / 1;
    height: auto;
    display: block;         /* supprime le gap baseline */
    object-fit: contain;
}

.footer-contact .picto-container {
    display: flex;
    gap: 15px;
}

.picto-footer {
    width: 20px;
    aspect-ratio: 1 / 1;
    height: auto;
    display: block;         /* supprime le gap baseline */
    object-fit: contain;
}

.footer-contact-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 5px;
}

.footer-contact-links a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    gap: 10px;
}

.footer-links ul a:hover, .footer-contact-links a:hover {
    color: #f39c88;
    font-weight: 600;
}

.footer-copyright {
    margin-left: auto;               
    text-align: right;               
    align-self: flex-end;
    color: white;
    opacity: 0.7;
    font-size: 12px;
}